<mat-card class="product-card" [ngClass]="{
    'has-promo': (product.price <= 10),
    'has-bigpromo': (product.price <= 5)
  }">
  <mat-card-header>
    <mat-card-title>{{product.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{product.price | currency:'EUR'}}
      <span *ngIf="product.price <= 10" appPromo>Promo</span>
      <!-- <span [style.backgroundColor]="(product.price <= 10) ? 'yellow' : 'white'" appPromo>Promo</span> -->
      <!-- <span [ngStyle]="{'background-color': (product.price <= 10) ? 'yellow' : 'white'}" appPromo>Promo</span> -->
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ "Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Nobis quidem magni explicabo porro, doloribus maxime sed atque esse." | trunc:20 }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToCart()">BUY</button>
    <button mat-button [routerLink]="['/products/details', product.id]">VIEW</button>
  </mat-card-actions>
</mat-card>